using System;
using System.Collections;
using System.Collections.Generic;
using System.Runtime.InteropServices;
using CSharpUtils;
using CSharpUtils.DOSBase;
using <SpaceName>;

namespace <SpaceName>
{
	public class <!SpaceName>_<!ListName>_CONST
    {
		<Consts>
	};
};