using System;
using System.Collections;
using System.Collections.Generic;
using System.Runtime.InteropServices;
using CSharpUtils;
using CSharpUtils.DOSBase;
using <SpaceName>;

namespace <SpaceName>
{
	//<InterfaceDescription>
	interface I<InterfaceName>
	{
		<Methods>
	};
	<MethodIDEnums>
	<MethodSSTIDEnumDefine>
};