int HandleMsg<MethodName>(CSmartStruct Packet)
{
	<ParamDefines>
	
	<ParamInitOperations>

	<IfHaveMember>
	int Pos=Packet.GetFirstMemberPosition();
	while(Pos>0)
	{
		ushort MemberID=0;
		CSmartValue Value=Packet.GetNextMember(ref Pos,ref MemberID);
		switch(MemberID)
		{
		<UnpackOperations>
		}
	}
	</IfHaveMember>	

	return m_pMsgHandler.<MethodName>(<Params>);
}