接口设计

1	引言
	1.1	编写目的
		本文档编写，确定系统一个大致的对外接口。
	1.2	项目背景
		天道之旅，服务器系统的大体结构参见Hannibal：<TDD Of TD Online.docx>
	1.3	定义
		C: Client				客户端
		SW:	Switcher			Gateway选择服务器
		GW: Gateway				接入服务器
		GS: Game Server			主游戏服务器
		RS: Region Server		区域服务器
		LS: Login Server		登入服务器
		CS: Character Server	角色服务器
		DS: Database Server		数据库服务器
		PCS:Private Chat Server	密聊服务器
		MS:Mail Server			邮件服务器
		AS:Auction Server		拍卖服务器
		
	1.4	参考资料
		Hannibal：<TDD Of TD Online.docx>。


2	接口设计
	<Interfaces>

3	数据结构及数据定义

<Prefix>

<Postfix>