using System;
using System.Collections;
using System.Collections.Generic;
using System.Runtime.InteropServices;
using CSharpUtils;
using CSharpUtils.DOSBase;
using <SpaceName>;

public class DATA_OBJECT_MODIFY_FLAGS
{
	<DataObjectModifyFlags>
};