using System;
using System.Collections;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using CSharpUtils;
using CSharpUtils.DOSBase;
using <SpaceName>;

namespace <SpaceName>
{
	//<InterfaceDescription>
	interface I<InterfaceName>
	{
<Methods>
	};
<MethodSSTIDEnumDefine>
};