using System;
using System.Collections;
using System.Collections.Generic;
using System.Runtime.InteropServices;
using CSharpUtils;
using CSharpUtils.DOSBase;
using <SpaceName>;


namespace <SpaceName>
{
	class C<InterfaceName>MsgCaller :
		I<InterfaceName>
	{
		CDOSClient						m_DosClient;
		
		public C<InterfaceName>MsgCaller(CDOSClient DosClient)
		{
			m_DosClient=DosClient;
		}
		
		
		
		<Methods>
		<PackMethods>
	};
};
